*{
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
        //background: linear-gradient(135deg, #71b7e6,#9b59b6);
}
.container{
    max-width: 500px;
    width: 100%;
    margin-top: 10vh;
    background: linear-gradient(135deg, #71b7e6,#9b59b6);
    padding: 10vh;
    border-radius: 5vh 10px 1.8rem;
}
.container .title{
    font-size: 30px;
    font-weight: 500;
    position: relative;
    color: #000;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #9b59b6;
}
form .user-details .input-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 2vh;
    border: 5px solid #ccc;
    font-size: 15px;
    color: #000;
}



